.container {
    @media (min-width: 1500px) {
        max-width: 1420px;
    }
    @media (min-width: 1600px) {
        max-width: 1520px;
    }
    @media (min-width: 1700px) {
        max-width: 1620px;
    }
    @media (min-width: 1800px) {
        max-width: 1720px;
    }
}

.background-white {
    background-color: var(--white-color);
}
.background-primary {
    background-color: var(--primary-color);
}
.background-secondary {
    background-color: var(--secondary-color);
}
.background-accent {
    background-color: var(--accent-color);
}

.full-image {
    img {
        width: 100%;
    }
}
:root {
    --sm-spacing: 60px;
}
.sm-padding-top {
    padding-top: var(--sm-spacing);
}

.sm-padding-bottom {
    padding-bottom: var(--sm-spacing);
}

.text-orange {
    color: #ff5251;
}
