.container {
    @media (min-width: 1500px) {
        max-width: 1420px;
    }
    @media (min-width: 1600px) {
        max-width: 1520px;
    }
    @media (min-width: 1700px) {
        max-width: 1620px;
    }
    @media (min-width: 1800px) {
        max-width: 1720px;
    }
}

.background-white {
    background-color: var(--white-color);
}
.background-primary {
    background-color: var(--orange-color);
}
.background-secondary {
    background-color: var(--green-color);
}
.background-accent {
    background-color: var(--accent-color);
}

.full-image {
    img {
        width: 100%;
    }
}
:root {
    --xxs-padding: 20px;
    --xs-padding: 40px;
    --sm-spacing: 60px;
    --md-spacing: 80px;
    --lg-spacing: 100px;
}
.sm-padding-top {
    padding-top: var(--sm-spacing);
}

.sm-padding-bottom {
    padding-bottom: var(--sm-spacing);
}
.md-padding {
    padding: var(--md-spacing);
}
.xxs-padding {
    padding: var(--xxs-padding);
}
.xxs-padding-top {
    padding-top: var(--xxs-padding);
}   

.text-orange-2 {
    color: var(--orange-color);
}
.mw-600 {
    max-width: 600px;
}
.g-xxs {
    --bs-gutter-x: 8px;
    --bs-gutter-y: 8px;
}
.col-no-gap {
    gap: 0 !important;
}
