#masthead {
    .offcanvas {
        --bs-offcanvas-bg: transparent;
        @include responsive(md-lg)  {
            position: static;
            visibility: visible;
            transform: none;
        }
    }
}