.grid-section {
    .grid-inner {
        @include box-shadow(0px 15px 30px #00000008);
        text-decoration: none;
        overflow: hidden;
        border-radius: 5px;
        color: var(--text-color);
        .grid-item__image {
            position: relative;
            padding: 52% 0;
            h3 {
                position: absolute;
                left: 40px;
                top: 40px;
                right: 40px;
                color: var(--bs-white);
                font-weight: 900;
                font-size: 80px;
            }
            .tag {
                position: absolute;
                top: -16px;
                right: -62px;
                font-size: 28px;
                font-weight: 800;
                color: var(--bs-white);
                background-color: var(--primary-color);
                padding: 44px 55px 14px 55px;
                text-align: center;
                transform: rotate(45deg);
                line-height: 1;
            }
        }
        .grid-item__content {
            background-color: var(--bs-white);
            padding: 25px;
            font-weight: 600;
        }
        @include on-event {
            color: var(--text-color);
        }
    }
}
