.grid-section {
    .grid-inner {
        @include box-shadow(0px 15px 30px #00000008);
        text-decoration: none;
        overflow: hidden;
        border-radius: 5px;
        color: var(--text-color);

        .grid-item__image {
            position: relative;
            padding: 52% 0;

            h3 {
                position: absolute;
                left: 40px;
                top: 40px;
                right: 40px;
                color: var(--bs-white);
                font-weight: 900;
                font-size: 80px;
            }

            .tag {
                position: absolute;
                top: -16px;
                right: -62px;
                font-size: 28px;
                font-weight: 800;
                color: var(--bs-white);
                background-color: var(--orange-color);
                padding: 44px 55px 14px 55px;
                text-align: center;
                transform: rotate(45deg);
                line-height: 1;
            }

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 10%;
            }
        }

        .grid-item__content {
            background-color: var(--bs-white);
            padding: 25px;
            font-weight: 600;
        }

        @include on-event {
            color: var(--text-color);
        }
    }
}

.listing-grid {
    @include box-shadow(0px 15px 30px #00000008);
    overflow: hidden;
    background-color: var(--bs-white);

    .listing-grid-item__top {
        padding: 20px;
    }

    .listing-grid-item__bottom {
        padding: 20px;
    }
}

.listing-grid-item__prices {
    .grid-item__price-inner {
        background-color: var(--lightgray-color);
        padding: 7px;

        span {
            display: block;
        }
    }
}

.listing-grid__feature {
    .grid__feature-inner {
        background-color: var(--yellow-color);
        padding: 8px 20px;
        line-height: 1;

        span {
            display: block;
        }
    }
}

.swiper-listing {
    overflow: visible;
}

.listings {
    gap: 20px;
}

.listing-grid-full-details {
    .listing-grid--top {
        padding: 20px;
        border-bottom: 1px solid var(--bs-border-color);
    }


    .listing-grid--left-inner {
        .listing-grid-item__prices-holder {
            position: absolute;
            left: 20px;
            bottom: 20px;
            right: 100px;
            z-index: 1;
        }
    }

    .listing-grid-item__prices .grid-item__price-inner {
        padding: 13px;
    }

    .listing-grid--right-inner {
        >.listing-grid-right-item {
            padding: 20px;

            @include not-last-child {
                border-bottom: 1px solid var(--bs-border-color);
            }
        }

        .listing-grid__feature-item {
            width: 100%;

            .grid__feature-inner {
                padding: 24px;
                font-size: 20px;
            }
        }
    }

}

.listing-grid--gallery {
    .zoom {
        width: 56px;
        height: 56px;
        background-color: var(--bs-white);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
        position: absolute;
        z-index: 2;
        top: 15px;
        right: 15px;
        cursor: pointer;

        img {
            width: 20px;
        }
    }

    .swiper-gallery {
        .swiper-pagination {
            position: absolute;
            right: 0;
            bottom: 0;
            left: auto;
            width: auto;
            padding: 14px 25px;
            line-height: 1;
            background-color: var(--bs-white);
            z-index: 2;
            border-radius: 5px 0 0 0;
            font-size: 19px;
            font-weight: 500;
        }
    }
}

.available-now {
    display: flex;
    align-items: center;
    gap: 10px;

    @include before {
        content: '';
        display: inline-block;
        background-color: #00CC9C;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        flex: 0 0 10px;
    }
}

.listing-inner-holder {
    .listing-grid__feature {
        justify-content: flex-end;

        .grid__feature-inner {
            padding: 12px 20px;
            font-size: 21px;
        }
    }

    .listing-inner--tabs {
        .nav-tabs {
            border: none;
            gap: 18px;

            >.nav-item {
                flex: 1 0 0%;

                .nav-link {
                    border: none;
                    background-color: var(--lightgray-color-2);
                }
            }
        }
    }
}