:root :where(.editor-styles-wrapper.editor-styles-wrapper) {
    --wp--preset--font-size--large: 20px !important;
}

body a {
    color: #3c434a;
}
.editor-post-panel__row-label.editor-post-panel__row-label,
.editor-post-url__front-page-link.editor-post-url__front-page-link {
    font-size: 16px;
}
.editor-styles-wrapper {
}
.edit-post-visual-editor__post-title-wrapper.edit-post-visual-editor__post-title-wrapper {
    margin: 0;
    background-color: var(--orange-color);
    padding: 20px;
    color: #fff;
}
.interface-complementary-area .components-panel__header.editor-sidebar__panel-tabs {
    font-size: 16px;
}